#machines .machine {
  width: 128px;
  height: 128px;
  background-size: 128px 128px;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 40px;
}
#machines .washer,
#machines .dryer {
  text-align: center;
}
#machines .washer .machine {
  background-image: url("../../images/washer_empty.png");
}
#machines .dryer .machine {
  background-image: url("../../images/dryer.png");
}
